html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input, select, button {
  outline: none;
}

.d-inline {
  display: inline;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
@media screen and (min-width: 480px) {
  .sm\:d-inline {
    display: inline;
  }
  .sm\:d-block {
    display: block;
  }
  .sm\:d-inline-block {
    display: inline-block;
  }
  .sm\:d-flex {
    display: flex;
  }
  .sm\:d-none {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .md\:d-inline {
    display: inline;
  }
  .md\:d-block {
    display: block;
  }
  .md\:d-inline-block {
    display: inline-block;
  }
  .md\:d-flex {
    display: flex;
  }
  .md\:d-none {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .lg\:d-inline {
    display: inline;
  }
  .lg\:d-block {
    display: block;
  }
  .lg\:d-inline-block {
    display: inline-block;
  }
  .lg\:d-flex {
    display: flex;
  }
  .lg\:d-none {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:d-inline {
    display: inline;
  }
  .xl\:d-block {
    display: block;
  }
  .xl\:d-inline-block {
    display: inline-block;
  }
  .xl\:d-flex {
    display: flex;
  }
  .xl\:d-none {
    display: none;
  }
}

.flex-row {
  flex-direction: row !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-col {
  flex-direction: column !important;
}
.flex-col-reverse {
  flex-direction: column-reverse !important;
}

.justify-start {
  justify-content: flex-start !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-around {
  justify-content: space-around !important;
}

.items-start {
  align-items: flex-start !important;
}
.items-center {
  align-items: center !important;
}
.items-end {
  align-items: flex-end !important;
}
.items-stretch {
  align-items: stretch !important;
}

.self-start {
  align-self: flex-start !important;
}
.self-center {
  align-self: center !important;
}
.self-end {
  align-self: flex-end !important;
}
.self-stretch {
  align-self: stretch !important;
}

@media screen and (min-width: 480px) {
  .sm\:flex-row {
    flex-direction: row !important;
  }
  .sm\:flex-row-reverse {
    flex-direction: row-reverse !important;
  }
  .sm\:flex-col {
    flex-direction: column !important;
  }
  .sm\:flex-col-reverse {
    flex-direction: column-reverse !important;
  }
  .sm\:justify-start {
    justify-content: flex-start !important;
  }
  .sm\:justify-center {
    justify-content: center !important;
  }
  .sm\:justify-end {
    justify-content: flex-end !important;
  }
  .sm\:justify-between {
    justify-content: space-between !important;
  }
  .sm\:justify-around {
    justify-content: space-around !important;
  }
  .sm\:items-start {
    align-items: flex-start !important;
  }
  .sm\:items-center {
    align-items: center !important;
  }
  .sm\:items-end {
    align-items: flex-end !important;
  }
  .sm\:items-stretch {
    align-items: stretch !important;
  }
  .sm\:self-start {
    align-self: flex-start !important;
  }
  .sm\:self-center {
    align-self: center !important;
  }
  .sm\:self-end {
    align-self: flex-end !important;
  }
  .sm\:self-stretch {
    align-self: stretch !important;
  }
}
@media screen and (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row !important;
  }
  .md\:flex-row-reverse {
    flex-direction: row-reverse !important;
  }
  .md\:flex-col {
    flex-direction: column !important;
  }
  .md\:flex-col-reverse {
    flex-direction: column-reverse !important;
  }
  .md\:justify-start {
    justify-content: flex-start !important;
  }
  .md\:justify-center {
    justify-content: center !important;
  }
  .md\:justify-end {
    justify-content: flex-end !important;
  }
  .md\:justify-between {
    justify-content: space-between !important;
  }
  .md\:justify-around {
    justify-content: space-around !important;
  }
  .md\:items-start {
    align-items: flex-start !important;
  }
  .md\:items-center {
    align-items: center !important;
  }
  .md\:items-end {
    align-items: flex-end !important;
  }
  .md\:items-stretch {
    align-items: stretch !important;
  }
  .md\:self-start {
    align-self: flex-start !important;
  }
  .md\:self-center {
    align-self: center !important;
  }
  .md\:self-end {
    align-self: flex-end !important;
  }
  .md\:self-stretch {
    align-self: stretch !important;
  }
}
@media screen and (min-width: 960px) {
  .lg\:flex-row {
    flex-direction: row !important;
  }
  .lg\:flex-row-reverse {
    flex-direction: row-reverse !important;
  }
  .lg\:flex-col {
    flex-direction: column !important;
  }
  .lg\:flex-col-reverse {
    flex-direction: column-reverse !important;
  }
  .lg\:justify-start {
    justify-content: flex-start !important;
  }
  .lg\:justify-center {
    justify-content: center !important;
  }
  .lg\:justify-end {
    justify-content: flex-end !important;
  }
  .lg\:justify-between {
    justify-content: space-between !important;
  }
  .lg\:justify-around {
    justify-content: space-around !important;
  }
  .lg\:items-start {
    align-items: flex-start !important;
  }
  .lg\:items-center {
    align-items: center !important;
  }
  .lg\:items-end {
    align-items: flex-end !important;
  }
  .lg\:items-stretch {
    align-items: stretch !important;
  }
  .lg\:self-start {
    align-self: flex-start !important;
  }
  .lg\:self-center {
    align-self: center !important;
  }
  .lg\:self-end {
    align-self: flex-end !important;
  }
  .lg\:self-stretch {
    align-self: stretch !important;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:flex-row {
    flex-direction: row !important;
  }
  .xl\:flex-row-reverse {
    flex-direction: row-reverse !important;
  }
  .xl\:flex-col {
    flex-direction: column !important;
  }
  .xl\:flex-col-reverse {
    flex-direction: column-reverse !important;
  }
  .xl\:justify-start {
    justify-content: flex-start !important;
  }
  .xl\:justify-center {
    justify-content: center !important;
  }
  .xl\:justify-end {
    justify-content: flex-end !important;
  }
  .xl\:justify-between {
    justify-content: space-between !important;
  }
  .xl\:justify-around {
    justify-content: space-around !important;
  }
  .xl\:items-start {
    align-items: flex-start !important;
  }
  .xl\:items-center {
    align-items: center !important;
  }
  .xl\:items-end {
    align-items: flex-end !important;
  }
  .xl\:items-stretch {
    align-items: stretch !important;
  }
  .xl\:self-start {
    align-self: flex-start !important;
  }
  .xl\:self-center {
    align-self: center !important;
  }
  .xl\:self-end {
    align-self: flex-end !important;
  }
  .xl\:self-stretch {
    align-self: stretch !important;
  }
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 480px) {
  .sm\:float-left {
    float: left !important;
  }
  .sm\:float-right {
    float: right !important;
  }
  .sm\:float-none {
    float: none !important;
  }
  .sm\:clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 768px) {
  .md\:float-left {
    float: left !important;
  }
  .md\:float-right {
    float: right !important;
  }
  .md\:float-none {
    float: none !important;
  }
  .md\:clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 960px) {
  .lg\:float-left {
    float: left !important;
  }
  .lg\:float-right {
    float: right !important;
  }
  .lg\:float-none {
    float: none !important;
  }
  .lg\:clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:float-left {
    float: left !important;
  }
  .xl\:float-right {
    float: right !important;
  }
  .xl\:float-none {
    float: none !important;
  }
  .xl\:clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

@media screen and (min-width: 480px) {
  .sm\:text-left {
    text-align: left !important;
  }
  .sm\:text-center {
    text-align: center !important;
  }
  .sm\:text-right {
    text-align: right !important;
  }
}
@media screen and (min-width: 768px) {
  .md\:text-left {
    text-align: left !important;
  }
  .md\:text-center {
    text-align: center !important;
  }
  .md\:text-right {
    text-align: right !important;
  }
}
@media screen and (min-width: 960px) {
  .lg\:text-left {
    text-align: left !important;
  }
  .lg\:text-center {
    text-align: center !important;
  }
  .lg\:text-right {
    text-align: right !important;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:text-left {
    text-align: left !important;
  }
  .xl\:text-center {
    text-align: center !important;
  }
  .xl\:text-right {
    text-align: right !important;
  }
}
.max-w-n {
  max-width: none;
}
.max-w-100 {
  max-width: 100%;
}
.max-w-90 {
  max-width: 90%;
}

@media screen and (min-width: 480px) {
  .sm\:max-w-n {
    max-width: none;
  }
  .sm\:max-w-100 {
    max-width: 100%;
  }
  .sm\:max-w-90 {
    max-width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .md\:max-w-n {
    max-width: none;
  }
  .md\:max-w-100 {
    max-width: 100%;
  }
  .md\:max-w-90 {
    max-width: 90%;
  }
}
@media screen and (min-width: 960px) {
  .lg\:max-w-n {
    max-width: none;
  }
  .lg\:max-w-100 {
    max-width: 100%;
  }
  .lg\:max-w-90 {
    max-width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .xl\:max-w-n {
    max-width: none;
  }
  .xl\:max-w-100 {
    max-width: 100%;
  }
  .xl\:max-w-90 {
    max-width: 90%;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.col-1 {
  width: calc( 8.3333333333% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-2 {
  width: calc( 16.6666666667% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-3 {
  width: calc( 25% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-4 {
  width: calc( 33.3333333333% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-5 {
  width: calc( 41.6666666667% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-6 {
  width: calc( 50% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-7 {
  width: calc( 58.3333333333% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-8 {
  width: calc( 66.6666666667% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-9 {
  width: calc( 75% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-10 {
  width: calc( 83.3333333333% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-11 {
  width: calc( 91.6666666667% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.col-12 {
  width: calc( 100% - 20px );
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (min-width: 480px) {
  .sm\:col-1 {
    width: calc( 8.3333333333% - 20px );
  }

  .sm\:col-2 {
    width: calc( 16.6666666667% - 20px );
  }

  .sm\:col-3 {
    width: calc( 25% - 20px );
  }

  .sm\:col-4 {
    width: calc( 33.3333333333% - 20px );
  }

  .sm\:col-5 {
    width: calc( 41.6666666667% - 20px );
  }

  .sm\:col-6 {
    width: calc( 50% - 20px );
  }

  .sm\:col-7 {
    width: calc( 58.3333333333% - 20px );
  }

  .sm\:col-8 {
    width: calc( 66.6666666667% - 20px );
  }

  .sm\:col-9 {
    width: calc( 75% - 20px );
  }

  .sm\:col-10 {
    width: calc( 83.3333333333% - 20px );
  }

  .sm\:col-11 {
    width: calc( 91.6666666667% - 20px );
  }

  .sm\:col-12 {
    width: calc( 100% - 20px );
  }
}
@media screen and (min-width: 768px) {
  .md\:col-1 {
    width: calc( 8.3333333333% - 20px );
  }

  .md\:col-2 {
    width: calc( 16.6666666667% - 20px );
  }

  .md\:col-3 {
    width: calc( 25% - 20px );
  }

  .md\:col-4 {
    width: calc( 33.3333333333% - 20px );
  }

  .md\:col-5 {
    width: calc( 41.6666666667% - 20px );
  }

  .md\:col-6 {
    width: calc( 50% - 20px );
  }

  .md\:col-7 {
    width: calc( 58.3333333333% - 20px );
  }

  .md\:col-8 {
    width: calc( 66.6666666667% - 20px );
  }

  .md\:col-9 {
    width: calc( 75% - 20px );
  }

  .md\:col-10 {
    width: calc( 83.3333333333% - 20px );
  }

  .md\:col-11 {
    width: calc( 91.6666666667% - 20px );
  }

  .md\:col-12 {
    width: calc( 100% - 20px );
  }
}
@media screen and (min-width: 960px) {
  .lg\:col-1 {
    width: calc( 8.3333333333% - 20px );
  }

  .lg\:col-2 {
    width: calc( 16.6666666667% - 20px );
  }

  .lg\:col-3 {
    width: calc( 25% - 20px );
  }

  .lg\:col-4 {
    width: calc( 33.3333333333% - 20px );
  }

  .lg\:col-5 {
    width: calc( 41.6666666667% - 20px );
  }

  .lg\:col-6 {
    width: calc( 50% - 20px );
  }

  .lg\:col-7 {
    width: calc( 58.3333333333% - 20px );
  }

  .lg\:col-8 {
    width: calc( 66.6666666667% - 20px );
  }

  .lg\:col-9 {
    width: calc( 75% - 20px );
  }

  .lg\:col-10 {
    width: calc( 83.3333333333% - 20px );
  }

  .lg\:col-11 {
    width: calc( 91.6666666667% - 20px );
  }

  .lg\:col-12 {
    width: calc( 100% - 20px );
  }
}
@media screen and (min-width: 1440px) {
  .xl\:col-1 {
    width: calc( 8.3333333333% - 20px );
  }

  .xl\:col-2 {
    width: calc( 16.6666666667% - 20px );
  }

  .xl\:col-3 {
    width: calc( 25% - 20px );
  }

  .xl\:col-4 {
    width: calc( 33.3333333333% - 20px );
  }

  .xl\:col-5 {
    width: calc( 41.6666666667% - 20px );
  }

  .xl\:col-6 {
    width: calc( 50% - 20px );
  }

  .xl\:col-7 {
    width: calc( 58.3333333333% - 20px );
  }

  .xl\:col-8 {
    width: calc( 66.6666666667% - 20px );
  }

  .xl\:col-9 {
    width: calc( 75% - 20px );
  }

  .xl\:col-10 {
    width: calc( 83.3333333333% - 20px );
  }

  .xl\:col-11 {
    width: calc( 91.6666666667% - 20px );
  }

  .xl\:col-12 {
    width: calc( 100% - 20px );
  }
}
html {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 22px;
  }
}

h1, h2, h3, h4, h5, h6, p, small, span,
li, th, td,
button, a, option, label {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  line-height: 1.5;
}

.layout0625 {
  padding: 1rem;
  background-color: #eee;
  width: 100%;
}
.layout0625 > a > img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px dotted #000;
}
.layout0625 .container {
  padding-top: 1.618rem;
  padding-bottom: 1.618rem;
}
.layout0625 h1 {
  margin-bottom: 1.618rem;
  font-size: 2rem;
  font-weight: 900;
}
.layout0625 h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 900;
}
.layout0625 p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.2;
}
.layout0625 span {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
.layout0625 .card-img {
  background-size: cover;
}
.layout0625 .card-body {
  padding: 1.618rem;
}
.layout0625 .temp {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 10px;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .layout0625 .temp {
    height: 600px;
  }
}
.layout0625 .temp-1 {
  color: #000;
}
.layout0625 .temp-1 .card-img {
  border-radius: 10px 10px 0 0;
  background-image: url("https://picsum.photos/300/200/?random=1");
  flex-grow: 1;
}
.layout0625 .temp-2.card-img {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 30%, transparent 60%), url("https://picsum.photos/300/400/?random=1");
}
.layout0625 .temp-2 .card-body {
  color: #fff;
  height: 100%;
}
.layout0625 .temp-2 .play-icon {
  margin-bottom: 1.618rem;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: relative;
}
.layout0625 .temp-2 .play-icon::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%);
  transform: translate(-75%, -50%) scaleY(0.5) rotate(45deg);
}
.layout0625 .temp-3.card-img {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 30%, transparent 60%), url("https://picsum.photos/300/400/?random=2");
}
.layout0625 .temp-3 .card-body {
  color: #fff;
  height: 100%;
}
.layout0625 .temp-3 .card-body span {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.layout0626 .today .content::before, .layout0626 .hashtag .content::before, .layout0626 .main > h6::before {
  content: "___";
  margin-bottom: 1rem;
  display: block;
  text-align: left;
  width: 100%;
  color: darkred;
}
.layout0626 .today .content::after, .layout0626 .hashtag .content::after, .layout0626 .main > h6::after {
  content: "___";
  display: block;
  text-align: right;
  width: 100%;
  color: darkred;
}

.layout0626 {
  padding: 1.618rem;
}
.layout0626 > img {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
}
.layout0626 .container {
  margin-top: 2.617924rem;
  margin-bottom: 2.617924rem;
}
.layout0626 .main > h1 {
  font-size: 2em;
  font-weight: 900;
  line-height: 1.2;
}
.layout0626 .main > h6 {
  margin-bottom: 1rem;
  color: #ddd;
}
.layout0626 .main .card {
  flex-basis: 31%;
  margin-bottom: 2.617924rem;
}
.layout0626 .main .card-img > img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.layout0626 .main .card-body > .info {
  margin-top: 0.5rem;
}
.layout0626 .main .card-body > .info span {
  font-size: 0.8rem;
}
.layout0626 .main .card-body > .info span:first-of-type {
  color: #555;
  margin-right: 0.4rem;
}
.layout0626 .main .card-body > .info span:last-of-type {
  color: darkred;
}
.layout0626 .main .card-body > .title {
  margin: 15px 0;
  font-size: 1.2rem;
  font-weight: 700;
}
.layout0626 .main .card-body > .footer span {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ddd;
  font-size: 0.9rem;
  font-weight: 700;
}
.layout0626 .main footer {
  margin: 20px 0;
}
.layout0626 .main footer a {
  font-size: 1.2em;
  color: darkred;
}
.layout0626 h2 {
  font-size: 1.5rem;
  font-weight: 900;
}
@media screen and (min-width: 960px) {
  .layout0626 .side {
    padding-left: 4.235801032rem;
  }
}
.layout0626 .hashtag .tags {
  flex-wrap: wrap;
}
.layout0626 .hashtag .tags a {
  margin-right: 1rem;
  text-decoration: underline;
  color: darkred;
}
.layout0626 .hashtag .date {
  font-size: 0.8rem;
  color: #ddd;
}
.layout0626 .today {
  margin-top: 2.617924rem;
}
.layout0626 .today .info .date {
  font-weight: 700;
}
.layout0626 .today .info .day {
  color: darkred;
  font-weight: 700;
}
.layout0626 .today p {
  font-weight: 0.9rem;
}
.layout0626 .today a {
  color: darkred;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
