
// display
@mixin display {
  &-inline{ display: inline; }
  &-block{ display: block; }
  &-inline-block{ display: inline-block; }
  &-flex{ display: flex; }
  &-none{ display: none; }
}

@mixin g-d {
  .d { 
    @include display ;
    @each $key in $mediaList {
      @include rwd($key) {
        @at-root .#{$key}\:{
          &d {
            @include display ;
          }      
        }
      }
    }
  }
}

// flex 

@mixin flex-direction {
  &-row { flex-direction: row !important; }
  &-row-reverse { flex-direction: row-reverse !important; }
  &-col { flex-direction: column !important; }
  &-col-reverse { flex-direction: column-reverse !important; }
}
@mixin justify-content {
  &-start { justify-content: flex-start !important; }
  &-center { justify-content: center !important; }
  &-end { justify-content: flex-end !important; }
  &-between { justify-content: space-between !important; }
  &-around { justify-content: space-around !important; }
}
@mixin align-items {
  &-start { align-items: flex-start !important; }
  &-center { align-items: center !important; }
  &-end { align-items: flex-end !important; }
  &-stretch { align-items: stretch !important; }
}

@mixin align-self {
  &-start { align-self: flex-start !important; }
  &-center { align-self: center !important; }
  &-end { align-self: flex-end !important; }
  &-stretch { align-self: stretch !important; }
}

@mixin g-flex {
  .flex { @include flex-direction }
  .justify { @include justify-content }
  .items { @include align-items }
  .self { @include align-self }

  @each $key in $mediaList {
    @include rwd($key) {
      @at-root .#{$key}\:{
        &flex { @include flex-direction }
        &justify { @include justify-content }
        &items { @include align-items }
        &self { @include align-self }
      }
    }
  }
}

// float

@mixin float{
  &-left{ float: left !important; };
  &-right{ float: right !important; };
  &-none{ float: none !important; };
}

@mixin clearfix{
  &::after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin g-float {
  .float { @include float ;}
  .clearfix { @include clearfix ;}

  @each $key in $mediaList {
    @include rwd($key) {
      @at-root .#{$key}\:{
        &float {
          @include float;
        }    
        &clearfix{
          @include clearfix;
        }
      }
    }
  }
}

// textalign

@mixin text {
  &-left { text-align: left !important; }
  &-center { text-align: center !important; }
  &-right { text-align: right !important;}
}

@mixin g-text {
  .text { @include text ;}

  @each $key in $mediaList {
    @include rwd($key) {
      @at-root .#{$key}\:{
        &text {
          @include text;
        }    
      }
    }
  }
}

// max-width

@mixin max-width{
  &-n { max-width: none; };
  &-100 { max-width: 100% } ;
  &-90 { max-width: 90% } ;
}

@mixin g-max-w {
  .max-w { @include max-width ;}

  @each $key in $mediaList {
    @include rwd($key) {
      @at-root .#{$key}\:{
        &max-w { @include max-width ;}
      }
    }
  }
}

// @include

// display
@include g-d;

// flex
@include g-flex; 

// float
@include g-float;

// text-align
@include g-text;

// max-width
@include g-max-w;
