//// important ////

$mediaFirst:mobile;
// $mediaFirst:pc;

$gridStyle: float;
// $gridStyle: flex;

//// important ////

$mediaList:"";
@if $mediaFirst == mobile { $mediaList:sm,md,lg,xl;} 
@else { $mediaList:xl,lg,md,sm; }

// grid system
$columns: 12;
$gutter: 20px;

$rwd: (
    xl: (
      breakpoints:1440px,
      container:1440px,
      fontSize:20px
      ),
    lg: (
      breakpoints:960px,
      container:960px,
      fontSize:20px
      ),
    md: (
      breakpoints:768px,
      container:768px,
      fontSize:20px
      ),
    sm: (
      breakpoints:480px,
      container:480px,
      fontSize:20px
      ),
);





